@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.svg-animation {
  stroke-dashoffset: 350%;
  stroke-dasharray: 350%;
  /* -moz-animation: draw 8s forwards ease-in-out infinite;
  -webkit-animation: draw 8s forwards ease-in-out infinite; */
  animation: draw 8s forwards ease-in-out infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 350%;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 350%;
  }
}


.st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
}
